---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<ul>
			<li><HeaderLink href="/">Bienvenue</HeaderLink></li>
			<li><HeaderLink href="/blog">Prestations</HeaderLink></li>
			<li><HeaderLink href="/comment">Comment</HeaderLink></li>
			<li><HeaderLink href="/about">Qui</HeaderLink></li>
		</ul>
		<ul>
			<li><HeaderLink href="https://facebook.com/">Facebook</HeaderLink></li>
		</ul>
	</nav>
</header>